{% extends "base.html" %}
{% block content%}

<form method="POST">
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Album</button>
    </div>

    <div class="form-group">
      <label for="number_artists">number_artists</label>
      <input
        type="number_artists"
        class="form-control"
        id="number_artists"
        name="number_artists"
        placeholder="Enter number of artists"
      />
    </div>

    <div>
      <label for="longitude">longitude</label>
      <input
        type="longitude"
        class="form-control"
        id="longitude"
        name="longitude"
        placeholder="Enter longitude"
      />
    </div>

    <div>
      <label for="latitude">latitude</label>
      <input
        type="latitude"
        class="form-control"
        id="latitude"
        name="latitude"
        placeholder="Enter latitude"
      />
    </div>

    <div>
      <label for="radius">radius</label>
      <input
        type="radius"
        class="form-control"
        id="radius"
        name="radius"
        placeholder="Enter radius"
      />
    </div>
  </form>

<div></div>
<div></div>
  
{%endblock%}