{% extends "base.html" %}
{% block content%}

<form method="POST">
    <textarea name="new_album" id="new_album" class="form-control" placeholder="Enter album"></textarea>
    <input pattern="[1-9]|10" type="number" name="Rating" id="Rating" placeholder="Rating">
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Album</button>
    </div>
  </form>


  <html>
  <head>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
  </body>
</html>
{%endblock%}